debug_level 3
gdb_port 50000
tcl_port 50001
telnet_port 50002

# 使用 CMSIS-DAP 调试器
source [find interface/cmsis-dap.cfg]

# 设置适配器速度
adapter speed 4000

# 设置 MCU 名称
set CHIPNAME stm32g474re
set WORKAREASIZE 0x20000

# 禁用低功耗模式
set ENABLE_LOW_POWER 0

# 停止看门狗
set STOP_WATCHDOG 1

# 重置配置：禁用硬件复位
reset_config none

# 在复位时连接
set CONNECT_UNDER_RESET 1

# 使用 STM32G4 目标配置文件
source [find target/stm32g4x.cfg]

# 配置软件复位
cortex_m reset_config sysresetreq

# 初始化
init